{% extends "base.html" %}
{% block head %}

<style>
     .navbar{
    background-color:rgb(212, 139, 29);
}

.own_anchor {
        text-decoration: none;
        margin-left: 5px;
        color: black;
    }

    .own_anchor:hover {
        color: yellow;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        margin-top: 2%;
        text-align: justify;
    }
</style>
{% endblock head %}

{% block body %}
<p>
    Our application named Customer Care Registry is a kinda application that
is used for providing services for an organization or management. The
service or support is provided for an organization and then the solution is
provided for the end users who are all using that organization’s product or
other things. The major and minor issues that are faced by the end users
are solved by the helpdesk team. The issues are raised to the helpdesk
team with the help of tickets. Using the ticketing system, the issues of end
users are raised to the helpdesk team. Then, tickets are assigned to the
agents and the agents will receive the tickets via Omni channels. The Omni
channels are nothing but Knowledge based channels, Email, and live chat.
Using these channels, the agent receives the issues on his dashboard. In
the existing customer care registry application, we identified several
drawbacks that have turned into problem statements. First of all, in the
existing customer care registry application, a particular agent receives
different kinds of issues in his single dashboard. Even though the agent
doesn’t know well about the issue, they need to solve that issue at the right
time. While coming to the second drawback, in some channels, the status
of the ticket is not shown. Whether the ticket has been closed or open is
unavailable. At last, the third drawback is, that in the existing application,
the tickets had been closed manually. This takes more manpower and time.
Instead of closing the ticket manually, we can automate the process to
close the ticket. The process will be, if the user doesn’t make any response
to the agent for a particular time period, then the tickets must be closed
automatically. This automation process will save much time and we can
use that manpower for any other purposes. And, that’s it, our Customer
Care Registry application will include all these kinda upgrades in it.
</p>
{% endblock body %}