{% extends 'base.html' %}
{% block head %}

<style>

.navbar{
    background-color:rgb(57, 57, 145);
}
.own_anchor:hover {
        color: yellow;
    }
body{
        background-color: coral;
    }
    .container{
        background-color: white;
        margin-left: 30%;
        margin-top: 5%;
        max-width: 500px;
        min-height: 400px;
        border: 10px white solid;
        border-radius: 20px; ;
        font-family:'Times New Roman', Times, serif;
        font-size:x-large;
        box-sizing: border-box;
        text-decoration: dotted;
    }
    .input input{
        position: relative;
        top: 20px;
        left: 40px;
        border-radius: 5px;
       
    }
    .input label{
        position: relative;
        top: 20px;
        left: 40px;
    }
    .input p{
        position: relative;
        top: 20px;
        left: 40px;
    }
    .btn{
        position: absolute;
        top: 380px;
        left: 600px;
        background-color: rgb(48, 167, 84);
        color: white;
        border-radius: 7px;
        font-size: large;
    }

</style>

{% endblock head %}



{% block body %}

<div class="container">
  <form action="#">
      <div class="input">
          <label for="email">Email</label><br>
          <input type="email" id="email" name="email"><br>
          <label for="pass">Password</label><br>
          <input type="password" id="pass" name="pass"><br><br>
      
              <button type="button" class="btn">Sign in</button>
          <br><br>
          <p>Not a member? &nbsp; <a href="/signup">Signup</a></p>
          
      </div>
  </form>
  
</div>

{% endblock body %}