{% extends 'base.html' %}

<!-- Head -->
{% block head %}  

<title>Customer Care Registry</title>

<style>
  .own_anchor{
    text-decoration: none;
    margin-left: 5px;
    color: black;
}

.own_anchor:hover{
    color: yellow;
}

.navbar{
    background-color: darkgoldenrod;
}

body{
    background-image: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)),url('static/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
}

</style>

{% endblock %}

{% block body %}




{% endblock %}