<!DOCTYPE html>
<html>
<head>
	<title>Student Registration Form</title>
</head>
<style type="text/css">
	.form1{
		border-style: solid;
		border-color: blue;
		margin: 200px;
		margin-top: 50px;
		font-size: 40px;
	}
</style>
<body>
	<h1>REGISTRATION FORM</h1>
<div class = "form1">
<form>
	<table>
		<tr>
			<td>
				First Name :
			</td>
			<td>
				<input type="text" placeholder = "Enter Name" id="fname" required="">
			</td>
		</tr>
		<tr>
			<td>
				Last Name :
			</td>
			<td>
				<input type="text" placeholder = "Enter Name" id="lname" required="">
			</td>
		</tr>
		<tr>
			<td>
				Gender :
			</td>
			<td>
				<input type="radio" name="Gender">Male
				<input type="radio" name="Gender">Female
			</td>
		</tr>
		<tr>
			<td>
				ID Number :
			</td>
			<td>
				<input type="text" placeholder="Enter your ID number" id="inum" required="">
			</td>
		</tr>
		<tr>
			<td>
				Phone Number :
			</td>
			<td>
				<select>
					<option>+91</option>
					<option>+93</option>
					<option>+355</option>
					<option>+90</option>
				</select>
				<input type="Phone" placeholder="Enter your Phone Number" id="phnum" required="">
			</td>
		</tr>
		<tr>
			<td>
				<input type="Submit" name="">
			</td>
		</tr>
	</table>
</form>
</div>
</body>
</html>


