{% extends 'base.html' %}

<!-- head -->
{% block head %}


<title>SIGNUP</title>

<style>
    .signup {
        margin: 30px 25px;
    }
    .signupform{
        border: 2px solid green;
        width: 50%;
        height: 50%;
        margin: auto;
    }
</style>

{% endblock %}


<!-- body -->
{% block body %}


<section class="signup">

    <h2>{{ msg }}</h2>

    <div class="signupform">
        <h2>SIGNUP</h2>
        <form action="/add" method="post">
            <div>
                <label for="email">EmailId:</label>
                <input type="email" name="email" id="email">
            </div>
            <div>

                <label for="password">Password:</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <input type="submit" value="SIGNUP">
            </div>
        </form>
    </div>

</section>

{% endblock %}